/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*headr*/
header{
    height: 100px;
    background: rgb(33, 111, 177);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


}
.titulo{
    text-transform: uppercase;
    color: #fff;;
    text-align: center;
  
}

#container1{

    display: flex;
    background-color: rgb(44, 153, 163);
    flex-direction: column;


}
#container1 .seccion{
    

    /** Coloco un borde, padding y centro el texto de cada caja */
    padding: 10px;
    text-align: center;

}

#container1 .section1 {
    
    text-align: center;
    min-height: 30%;
    
  }
  .titulo2{
    
    text-transform: uppercase;
    color: #fff;;
    text-align: center;
  }
  

#container1 .section2 {
    text-align: center;
    font-size: large;
    min-height: 70%;
  }

.subti1{
    text-decoration: underline;
    font-weight: bold;
   
}


#boxes{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    background: #fff;

}

#boxes .sec{
    flex-basis: 50%;

    /** Coloco un borde, padding y centro el texto de cada caja */
   
    padding: 10px;
    text-align: center;
  }
  
  #boxes .col1{
    background: #fff;
  }


  #boxes .row1{
    font-size: medium;
    color: #fff;
    background-color: rgb(57, 57, 59);
    border-radius: 20px;
  }

#boxes .row2{
    text-align: center;
}
#boxes .text3{
    
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
   
}

#boxes .text4{
    text-align:justify;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
}



#boxes .col2{
background-image: url("images/1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 300px;
border-radius: 10px;
}

#li1{
    margin-top: 10px;
}

#li1 .line{

 
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px 90px 20px 90px;


}

/*RESPONSIVE*/

@media(max-width:700px){
    #titulo{
        width: 80%;
    }
    #container1 {
        flex-direction: column;
      }
    
      #container1 .seccion {
        width: 80%;
        margin: 0 auto;
      }
}